@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}

body {
  text-align: center;
  background-image: url('./assets/images/bg.png');
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.darkMode{
  background-image: url('./assets/images/bg-dark.PNG');
}
